# Compiled object files
*.o

# Compiled binary files
*.out
*.exe

# Libraries
*.lib
*.a
*.so
*.dylib

# Debug files
*.dSYM/
*.log

# macOS system files
.DS_Store

# Editor files
*~
*.swp
*.swo
.vscode/
.idea/
*.code-workspace

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Autotools files
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/Makefile.in
/missing

# Test output
/test-output/